@layer components {
  /* ================= BASE ================= */

  .input-wrapper {
    display: inline-flex;
    position: relative;
    width: 100%;
  }

  .input-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 100%;
    border-radius: var(--radius-base);
    border: 1px solid var(--border-default-medium);
    background-color: var(--bg-neutral-secondary-medium);
    color: var(--text-body-subtle);
    padding: var(--input-py) var(--input-px);
    font-size: var(--input-text);
    outline: none;
  }

  /* ================= ICON ================= */

  .input-left-icon,
  .input-right-icon,
  .input-close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-body-subtle);
    font-size: var(--input-text);
    display: flex;
    align-items: center;
    pointer-events: none;
  }

  .input-left-icon {
    left: var(--input-px);
  }

  .input-right-icon,
  .input-close-icon {
    right: var(--input-px);
  }

  .input.has-left-icon {
    padding-left: calc(var(--input-px) + var(--input-text) + 0.75rem);
  }

  /* ================= ADDON ================= */

  .input-addon {
    display: flex;
    align-items: center;
    padding: 0 var(--input-px);
    background-color: var(--bg-neutral-tertiary);
    border: 1px solid var(--border-default-medium);
    color: var(--text-body-muted);
    white-space: nowrap;
  }

  /* ================= STATES ================= */

  .input::placeholder {
    color: var(--text-body-muted);
  }

  .input:focus {
    border-color: var(--border-brand);
  }

  .input-wrapper:focus-within .input-left-icon,
  .input-wrapper:focus-within .input-right-icon,
  .input-wrapper:focus-within .input-close-icon,
  .input-wrapper:focus-within .input-addon {
    color: var(--border-brand);
    border-color: var(--border-brand);
  }

  .input:not(:placeholder-shown) {
    color: white;
    border-color: white;
  }

  .input:disabled {
    background-color: var(--bg-disabled);
    color: var(--text-fg-disabled);
    cursor: not-allowed;
  }

  .input-wrapper:has(.input:disabled) * {
    cursor: not-allowed;
    color: var(--text-fg-disabled);
  }

  .input[aria-invalid="true"] {
    border-color: var(--border-danger-subtle);
    background-color: var(--bg-danger-soft);
    color: var(--text-fg-danger-strong);
  }

  .input[aria-invalid="false"] {
    border-color: var(--border-success-subtle);
    background-color: var(--bg-success-soft);
    color: var(--text-fg-success-strong);
  }

  /* ================= SIZES ================= */

  .input-xs {
    --input-py: 6px;
    --input-px: 10px;
    --input-text: 12px;
  }

  .input-sm {
    --input-py: 8px;
    --input-px: 12px;
    --input-text: 14px;
  }

  .input-base {
    --input-py: 10px;
    --input-px: 14px;
    --input-text: 16px;
  }

  .input-lg {
    --input-py: 12px;
    --input-px: 16px;
    --input-text: 18px;
  }

  .input-xl {
    --input-py: 14px;
    --input-px: 18px;
    --input-text: 20px;
  }
}
