@layer components {
  /* ================= BASE ================= */

  .input-wrapper {
    display: inline-flex;
    position: relative;
    height: fit-content;
    width: 100%;
  }

  .input-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input {
    border-radius: var(--radius-base);
    border: 1px solid var(--border-default-medium);
    background-color: var(--bg-neutral-secondary-medium);
    color: var(--text-body-subtle);
    padding: var(--input-py) var(--input-px);
    font-size: var(--input-text);
    outline: none;
    width: 100%;
  }

  /* ================= DEFAULT VARIANT ================= */
  
  .input-variant-default .input-inner {
    width: 100%;
  }

  .input-variant-default .input {
    width: 100%;
  }

  /* ================= ICON (Input içi) ================= */

  .input-left-icon {
    position: absolute;
    left: var(--input-px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-body-subtle);
    pointer-events: none;
    font-size: var(--input-text);
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .input.has-left-icon {
    padding-left: calc(var(--input-px) + var(--input-text) + 0.75rem);
  }

  /* ================= CLEAR ================= */

  .input-close-icon {
    position: absolute;
    right: var(--input-px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-body-subtle);
    pointer-events: none;
    font-size: var(--input-text);
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .input-clear-btn {
    position: absolute;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-body-muted);
  }

  .input-clear-btn:hover {
    color: white;
  }

  .input-close-icon {
    width: 1em;
    height: 1em;
  }


  /* ================= ADDON ================= */

  .input-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--input-px);
    padding-right: var(--input-px);
    background-color: var(--bg-neutral-tertiary);
    border: 1px solid var(--border-default-medium);
    color: var(--text-body-muted);
    white-space: nowrap;
    /* height: calc(calc(var(--input-py) * 2) + calc(var(--input-text) * 1.5) + 2px) */
  }

  /* ================= ADD ON ICON VARIANT ================= */
  
  .input-variant-addOnIcon .input-addon {
    border-right: none;
    border-top-left-radius: var(--radius-base);
    border-bottom-left-radius: var(--radius-base);
    color: var(--text-body-subtle);
  }

  .input-variant-addOnIcon .input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);
  }

  /* ================= ADD ON TEXT VARIANT ================= */
  
  .input-variant-addOnText .input-addon {
    border-right: none;
    border-top-left-radius: var(--radius-base);
    border-bottom-left-radius: var(--radius-base);
  }

  .input-variant-addOnText .input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);
  }

  /* ================= INNER BUTTON VARIANT ================= */
  
  .input-variant-innerButton .input-addon {
    border-left: none;
    border-top-right-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);
  }

  .input-variant-innerButton .input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--radius-base);
    border-bottom-left-radius: var(--radius-base);
  }

  /* ================= STATES ================= */

  .input::placeholder {
    color: var(--text-body-muted);
  }

  .input:focus {
    border-color: var(--border-brand);
  }

  .input-wrapper:focus-within .input-left-icon {
    color: var(--border-brand);
  }

  .input-wrapper:focus-within .input-close-icon {
    color: var(--border-brand);
  }

  .input-wrapper:focus-within .input-addon {
    border-color: var(--border-brand);
    color: var(--border-brand);
  }

  .input-wrapper:focus-within .input {
    border-color: var(--border-brand);
  }

  .input:not(:placeholder-shown){
    color: white;
    border-color: white;
  }

  .input-wrapper:has(.input:not(:placeholder-shown):not(:focus)) .input-addon {
    color: white;
    border-color: white;
  }

  .input-wrapper:has(.input:not(:placeholder-shown):not(:focus)) .input-left-icon {
    color: white;
    border-color: white;
  }

  .input-wrapper:has(.input:not(:placeholder-shown):not(:focus)) .input-close-icon {
    color: white;
  }

  .input:disabled {
    background-color: var(--bg-disabled);
    border-color: var(--border-default-medium);
    color: var(--text-fg-disabled);
    cursor: not-allowed;
    font-weight: 400;
  }

  .input-inner:has(.input:disabled) .input-left-icon {
    color: var(--text-fg-disabled);
    font-weight: 400;
  }

  .input-inner:has(.input:disabled) .input-close-icon {
    color: var(--text-fg-disabled);
    font-weight: 400;
  }

  .input-wrapper:has(.input:disabled) .input-addon {
    border-color: var(--border-default-medium);
    color: var(--text-fg-disabled)
  }

  .input[readonly] {
    background-color: var(--bg-neutral-tertiary);
    border-color: var(--border-default-medium);
    color: var(--text-body-muted);
  }

  .input[aria-invalid="false"] {
    border-color: var(--border-success);
  }

  .input[aria-invalid="true"] {
    border-color: var(--border-danger);
  }

  /* ================= SIZES ================= */

  .input-xs {
    --input-py: 6px;
    --input-px: 10px;
    --input-text: 12px;
  }

  .input-sm {
    --input-py: 8px;
    --input-px: 12px;
    --input-text: 14px;
  }

  .input-base {
    --input-py: 10px;
    --input-px: 14px;
    --input-text: 16px;
  }

  .input-lg {
    --input-py: 12px;
    --input-px: 16px;
    --input-text: 18px;
  }

  .input-xl {
    --input-py: 14px;
    --input-px: 18px;
    --input-text: 20px;
  }
}