@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "../components/common/Button/buttons";
@import "../components/common/Cards/ProductCard/productCard.css";

/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));
:root {

  /* typography */
  --font-sans: 'Inter', sans-serif;
  --font-heading: var(--font-sans);
  --font-body: var(--font-sans);

   /* colors/background */
  --bg-variants-gray: #051017;
  --bg-neutral-secondary-soft: #081D28;
  --bg-neutral-primary-strong: #33444E;
  --bg-neutral-secondary: #061821;
  --bg-neutral-primary-medium: #1D303A;

  --bg-danger-medium: #8B0836;
  --bg-indigo: #615EFF;
  --bg-pink: #F6339A;
  --bg-teal: #00BBA7;

  --bg-brand-medium: #104E69;
  --bg-sky: #00A6F4;
  --bg-warning-soft: #441306;
  --bg-neutral-secondary-strong: #33444E;

  --bg-disabled: #1E2939;
  --bg-dark-strong: #333E4F;
  --bg-warning-strong: #B43403;
  --bg-success: #009966;

  --bg-warning-medium: #771D0D;
  --bg-warning: #D03801;
  --bg-orange: #FF8A4C;
  --bg-fuchsia: #E12AFB;

  --bg-danger: #C70036;
  --bg-white: #FFFFFF;
  --bg-neutral-tertiary: #081D28;
  --bg-neutral-quaternary: #33444E;

  --bg-success-soft: #002C22;
  --bg-brand-strong: #0094C0;
  --bg-danger-strong: #A50036;
  --bg-success-strong: #007A55;

  --bg-dark: #1E2939;
  --bg-brand-soft: #104E69;
  --bg-purple: #AD4EFF;
  --bg-brand-softer: #033349;

  --bg-neutral-tertiary-soft: #081D28;
  --bg-quaternary-medium: #4A5565;
  --bg-neutral-tertiary-medium: #33444E;
  --bg-neutral-primary: #061821;

  --bg-cyan: #00B8DB;
  --bg-neutral-primary-soft: #081D28;
  --bg-success-medium: #004F3B;
  --bg-brand: #00BBE5;

  --bg-gray: #4A5565;
  --bg-danger-soft: #4D0218;
  --bg-neutral-secondary-medium: #1D303A;
  --bg-overlay: rgba(0, 0, 0, 0.64);

  /* colors/border */

  --border-purple: #AD4EFF;
  --border-buffer-gradient-secondary: #030712;
  --border-brand-subtle: #104E69;
  --border-default-strong: #4A5565;

  --border-danger-subtle: #8B0836;
  --border-default-medium: #33444E;
  --border-success: #009966;
  --border-default: #1D303A;

  --border-success-subtle: #004F3B;
  --border-default-subtle: #081D28;
  --border-light: #1E2939;
  --border-light-subtle: #101828;

  --border-muted: #101828;
  --border-buffer-strong: #1E2939;
  --border-dark: #4A5565;
  --border-buffer-medium: #101828;

  --border-brand-light: #00BBE5;
  --border-danger: #EC003F;
  --border-warning: #FF5A1F;
  --border-warning-subtle: #771D0D;

  --border-brand: #06D6FF;
  --border-dark-subtle: #333E4F;
  --border-light-medium: #333E4F;
  --border-buffer: #030712;

  --border-orange: #FF8A4C;

  /* Border Radius */
  --radius-base: 12px;

 /* colors/text */
  --text-fg-lime: #7CCF00;
  --text-fg-indigo: #615FFF;
  --text-fg-info: #9FE6FF;
  --text-fg-yellow: #FDC700;

  --text-fg-warning: #FDBA8C;
  --text-fg-warning-subtle: #FF5A1F;
  --text-fg-danger-strong: #FFA1AD;
  --text-fg-pink: #F6339A;

  --text-fg-success: #009966;
  --text-fg-brand: #06D6FF;
  --text-black: #101828;
  --text-fg-cyan: #00B8DB;

  --text-fg-purple: #AD4EFF;
  --text-fg-brand-strong: #5BECFF;
  --text-white: #FFFFFF;
  --text-heading: #FFFFFF;

  --text-fg-brand-subtle: #CBFBFF;
  --text-fg-danger: #FF2056;
  --text-body: #99A1AF;
  --text-body-subtle: #99A1AF;

  --text-fg-success-strong: #5EE9B5;
  --text-fg-disabled: #4A5565;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.dark {
  --background: var(--bg-variants-gray);;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

