.product-card-container {
  background-color: var(--bg-neutral-primary);
  border: 1px solid var(--border-default);
  border-radius: var(--radius-base);
}

.cart-card-container {
  background-color: var(--bg-neutral-primary);
}

.text-body {
  color: var(--text-body);
}

.text-fg-brand-strong {
  color: var(--text-fg-brand-strong);
}
.text-fg-success-strong{
    
  color: var(--text-fg-success-strong);
}

.text-fg-danger-strong{
  color: var(--text-fg-danger-strong);
}

.border-default{
  color: var(--border-default);
}