@import "tailwindcss";

:root {

  /* typography */
  --font-sans: 'Inter', sans-serif;
  --font-heading: var(--font-sans);
  --font-body: var(--font-sans);

   /* colors/background */
  --bg-neutral-secondary-soft: #081D28;
  --bg-neutral-primary-strong: #33444E;
  --bg-neutral-secondary: #061821;
  --bg-neutral-primary-medium: #1D303A;

  --bg-danger-medium: #8B0836;
  --bg-indigo: #615EFF;
  --bg-pink: #F6339A;
  --bg-teal: #00BBA7;

  --bg-brand-medium: #104E69;
  --bg-sky: #00A6F4;
  --bg-warning-soft: #441306;
  --bg-neutral-secondary-strong: #33444E;

  --bg-disabled: #1E2939;
  --bg-dark-strong: #333E4F;
  --bg-warning-strong: #B43403;
  --bg-success: #009966;

  --bg-warning-medium: #771D0D;
  --bg-warning: #D03801;
  --bg-orange: #FF8A4C;
  --bg-fuchsia: #E12AFB;

  --bg-danger: #C70036;
  --bg-white: #FFFFFF;
  --bg-neutral-tertiary: #081D28;
  --bg-neutral-quaternary: #33444E;

  --bg-success-soft: #002C22;
  --bg-brand-strong: #0094C0;
  --bg-danger-strong: #A50036;
  --bg-success-strong: #007A55;

  --bg-dark: #1E2939;
  --bg-brand-soft: #104E69;
  --bg-purple: #AD4EFF;
  --bg-brand-softer: #033349;

  --bg-neutral-tertiary-soft: #081D28;
  --bg-quaternary-medium: #4A5565;
  --bg-neutral-tertiary-medium: #33444E;
  --bg-neutral-primary: #061821;

  --bg-cyan: #00B8DB;
  --bg-neutral-primary-soft: #081D28;
  --bg-success-medium: #004F3B;
  --bg-brand: #00BBE5;

  --bg-gray: #4A5565;
  --bg-danger-soft: #4D0218;
  --bg-neutral-secondary-medium: #1D303A;
  --bg-overlay: rgba(0, 0, 0, 0.64);


  /* colors/border */

  --border-purple: #AD4EFF;
  --border-buffer-gradient-secondary: #030712;
  --border-brand-subtle: #104E69;
  --border-default-strong: #4A5565;

  --border-danger-subtle: #8B0836;
  --border-default-medium: #33444E;
  --border-success: #009966;
  --border-default: #1D303A;

  --border-success-subtle: #004F3B;
  --border-default-subtle: #081D28;
  --border-light: #1E2939;
  --border-light-subtle: #101828;

  --border-muted: #101828;
  --border-buffer-strong: #1E2939;
  --border-dark: #4A5565;
  --border-buffer-medium: #101828;

  --border-brand-light: #00BBE5;
  --border-danger: #EC003F;
  --border-warning: #FF5A1F;
  --border-warning-subtle: #771D0D;

  --border-brand: #06D6FF;
  --border-dark-subtle: #333E4F;
  --border-light-medium: #333E4F;
  --border-buffer: #030712;

  --border-orange: #FF8A4C;



 /* colors/text */
  --text-fg-lime: #7CCF00;
  --text-fg-indigo: #615FFF;
  --text-fg-info: #9FE6FF;
  --text-fg-yellow: #FDC700;

  --text-fg-warning: #FDBA8C;
  --text-fg-warning-subtle: #FF5A1F;
  --text-fg-danger-strong: #FFA1AD;
  --text-fg-pink: #F6339A;

  --text-fg-success: #009966;
  --text-fg-brand: #06D6FF;
  --text-black: #101828;
  --text-fg-cyan: #00B8DB;

  --text-fg-purple: #AD4EFF;
  --text-fg-brand-strong: #5BECFF;
  --text-white: #FFFFFF;
  --text-heading: #FFFFFF;

  --text-fg-brand-subtle: #CBFBFF;
  --text-fg-danger: #FF2056;
  --text-body: #99A1AF;
  --text-body-subtle: #99A1AF;

  --text-fg-success-strong: #5EE9B5;
  --text-fg-disabled: #4A5565;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
